################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyDevPortfolio
/IceDeliveryExample/RestAPISolution/.vs/RestAPI
/ImageSorter/.vs/ImageSorter
